
  p{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
  }
  
  .blue {
    color: blue;
    font-size: 1.2rem!important;
    padding-bottom: 10px;
  }
  
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }


  .my-sans {
    font-size: 0.8rem;
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 100;
    font-style: normal;

  }

  .vert {
    height: 80%;
    border: 1px solid rgb(216, 216, 216);
    margin: 6px;
  }

  .a-left {
    text-align: left;
  }

  .headline {
    font-family: "abril-display", serif;
    font-weight: 700;
    font-style: normal;
  }

  .lead {
    font-family: "abril-display", serif;
    font-weight: 400;
    font-style: italic;
  }

  .starter-template {
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;

  }

  .under-box > a {
    text-decoration: none;
    color: black;
  }


  #yearRange {
    text-align: center;
}

.bg-black {
  padding: 8px;
}

.block {
  padding-bottom: 32px;
  width: 100%;
}

.bg-black > p {
  font-size: 1rem;
}

.under-box {
  width: 100%;
}

.under-box > div {
  padding-left: 16px;

}
.under-box > div:hover {
  background-color: aliceblue;
}
.under-box > div > a {
  text-decoration: none;
  color: black;
}